<%= form_with :model => @post do |form| %>
  <p>
    <%= form.label "title" %>
    <p> <%= form.text_field "title" %> </p>
    <%= form.label "description" %>
    <%= form.text_field "description" %>
    <%= form.label "date" %>
    <%= form.date_field "posted_on" %>
    <%= form.hidden_field "place_id" %>
  </p>
  
  <%= form.submit %>
<% end %>